<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Forgot Password</h3>
        <form class="was-validated" #forgotPassword="ngForm">
          <fieldset>
            <div *ngIf="!doPasswordsMatch()" class="alert alert-danger" role="alert">Passwords are not matching</div>
            <div class="form-group">
              <label name="email">Password</label>
              <input class="form-control input-lg" placeholder="Password" (change)="change($event)"
                [(ngModel)]="password" name="password" type="password" required />
            </div>
            <div class="form-group">
              <label name="email">Confirm Password</label>
              <input class="form-control input-lg" placeholder="Re-enter Password" (change)="checkPass($event)"
                [(ngModel)]="confirmPassword" name="confirm-password" type="password" required />
            </div>
            <div class="forgotpassword-button">
              <input class="btn btn-lg btn-primary" value="Submit" [disabled]="!forgotPassword.valid" (click)="updatePassword()" type="submit" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
